body {
    background-image:url("./img/5.jpg");
    background-position: center;
    text-align: center;
}

.about {
    text-align: center;
    font-size: 70px;
}

.web {
    font-size: 40px;
}

h1 {
    line-height: 85px;
}
h3 {
    font-size: 30px;
    font-weight: 20;   
}
p {
    font-size: 20px;
}

.image {
    margin: 0 auto;
    padding: 0 auto;

}

.my {
    font-size: 45px;
    text-transform: capitalize;
    line-height: 40px;
}


.contact {
    color: black;
    text-decoration: none;
}

