body {
    background-color: rgb(228, 127, 68);
    text-align: center;
}
.navigation_links {
    display: flex;
    justify-content: center;
    margin-top: 37px;
    
}

.navigation_links a{
    text-transform: capitalize;
}
.contact-link {
    text-decoration: none;
    margin: 20px;
    border-radius: 4px;
    padding: 10px 09px;
    color: #ffff;
    border: 1px solid blue;
}
.about-link {
    text-decoration: none;
    color: aquamarine;
}
h1 {
    font-size: 40px;
}

.email-link {
    display: flex;
    justify-content: center;
}