body {
    background-color: rgb(228, 127, 68);
    text-align: center;
}
.navigation_links {
    display: flex;
    justify-content: center;
    margin-top: 37px;
    
}

.navigation_links a{
    text-transform: capitalize;
}
.contact-link {
    text-decoration: none;
    margin: 20px;
    border-radius: 100px;
    padding: 20px 15px;
    color: black;
    border: 1px solid blue;
    background-color: rgb(192, 151, 151);
}
.about-link {
    text-decoration: none;
    color: black;
    padding: 20px 15px;
    border: solid 1px rgb(243, 222, 34);
    border-radius: 100px;
    margin: 20px;
    background-color: #ffff;

}

h1 {
    font-size: 31px;
}

.email-link {
    display: flex;
    justify-content: center;
}

@media (max-width: 576px) and (min-width: 1120px) {
    h1
    h2
    h3 {
        font-size: 22px;
    }

}

.fa-brands {
    font-size: 200px;
    padding: 10px 20px;
    border: 10px;
    border-radius: 20px 25px;
}

.fa-whatsapp {
    color: rgb(73, 202, 73);
}

.fa-facebook {
    color: rgb(77, 77, 153);
}

.fa-gmail {
    color: rgb(221, 65, 65);
}