body {
    background-color: rgb(228, 127, 68);
    text-align: center;
}
.navigation_links {
    display: flex;
    justify-content: center;
    margin-top: 37px;
    
}

.navigation_links a{
    text-transform: capitalize;
}
.contact-link {
    text-decoration: none;
    margin: 20px;
    border-radius: 4px;
    padding: 10px 09px;
    color: #ffff;
    border: 1px solid blue;
}
.about-link {
    text-decoration: none;
    color: black;
    padding: 20px 15px;
    border: solid 1px rgb(243, 222, 34);
    border-radius: 100px;
    margin: 20px;
    background-color: #ffff;

}
h1 {
    font-size: 31px;
}

.email-link {
    display: flex;
    justify-content: center;
}

@media (max-width: 657px) and (min-width: 1120px) {
    h1
    h2
    h3 {
        font-size: 22px;
        text-align: center;
    }

}